<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blog</title>
        <link rel="stylesheet" type="text/css" href="./assets/css/index.css">
        <link rel="shortcut icon" href="./img/favicon.png">
        <link rel="stylesheet" type="text/css" href="./assets/css/wave.css">
        <link rel="stylesheet" type="text/css" href="./assets/css/font.css">
        <link rel="stylesheet" type="text/css" media="screen" href="https://cdn.staticfile.org/ionicons/2.0.1/css/ionicons.min.css">
    </head>

    <body>
        <div class="container">
            <div class="scrollbar" id="bar">
            </div>
            <header class="navigation-bar">
                <div class="wrapper">
                    <ul class="navigation-list ul-reset">
                        <li class="navigation-item ib">
                            <a href="#" class="navigation-link">
                                <i class="ion-more"></i>
                                <span>更多</span>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="./Pages/Test/Test-2.html">
                                        <i class="ion-ios-paper"></i>
                                        <span>测试</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ion-ios-book"></i>
                                        <span>笔记</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="./Pages/Basketball.html" target="_blank">
                                        <i class=""></i>
                                        <span>小游戏</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li v-for="navItem in navigationList" :key="navItem.id" class="navigation-item ib">
                            <a :href="navItem.url" class="navigation-link" target="_blank">
                                <i :class="navItem.icon"></i>
                                <span>{{navItem.title}}</span>
                            </a>
                        </li>
                    </ul>
                </div>

            </header>

            <div class="main-container">
                <div id="header">
                    <div class="pic">
                        <img v-for="(imageItem,index) in imageList"
                         :id="imageItem.id" class="topimg"
                         :src="imageItem.src"
                         :key="imageItem.id"
                         :style="{position: 'absolute',zIndex: -1-index}"
                         alt="pic">
                    </div>
                    <div class="title">
                        <span class="logo2 no-select">Methionine</span>
                    </div>
                    <div class="print-animation-container no-select">
                        <div class="print-animation">
                            <span>Welcome to Methionine's Blog.</span>
                        </div>
                    </div>
                    <div class="top-items">
                        <ul>
                            <li id="img_back"><i class="ion-chevron-left"></i></li>
                            <li id="WeChat"><i class="ion-chatbubbles"></i></li>
                            <li id="Github">
                                <a href='https://github.com/L-Methionine' target="_blank">
                                    <i class="ion-social-github"></i>
                                </a>
                            </li>
                            <li id="e-Mail"><i class="ion-android-mail"></i></li>
                            <li id="CloudMusic">
                                <a href="https://music.163.com/#/user/home?id=1528072791" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <g>
                                        <path fill="none" d="M0 0h24v24H0z"/>
                                        <path d="M10.421 11.375c-.294 1.028.012 2.064.784 2.653 1.061.81 2.565.3 
                                        2.874-.995.08-.337.103-.722.027-1.056-.23-1.001-.52-1.988-.792-2.996-1.33.154-2.543 
                                        1.172-2.893 2.394zm5.548-.287c.273 1.012.285 2.017-.127 3-1.128 2.69-4.721 3.14-6.573.826-1.302-1.627-1.28-3.961.06-5.734.78-1.032 
                                        1.804-1.707 3.048-2.054l.379-.104c-.084-.415-.188-.816-.243-1.224-.176-1.317.512-2.503 1.744-3.04 1.226-.535 2.708-.216 3.53.76.406.479.395 1.08-.025 1.464-.412.377-.996.346-1.435-.09-.247-.246-.51-.44-.877-.436-.525.006-.987.418-.945.937.037.468.173.93.3 
                                        1.386.022.078.216.135.338.153 1.334.197 2.504.731 3.472 1.676 2.558 2.493 2.861 6.531.672 9.44-1.529 2.032-3.61 3.168-6.127 3.409-4.621.44-8.664-2.53-9.7-7.058C2.515 10.255 4.84 5.831 8.795 4.25c.586-.234 1.143-.031 1.371.498.232.537-.019 1.086-.61 1.35-2.368 1.06-3.817 
                                        2.855-4.215 5.424-.533 3.433 1.656 6.776 5 7.72 2.723.77 5.658-.166 7.308-2.33 1.586-2.08 1.4-5.099-.427-6.873a3.979 3.979 0 0 0-1.823-1.013c.198.716.389 1.388.57 2.062z"/>
                                    </g>
                                    </svg>
                                </a>
                            </li>
                            <li id="img_forward"><i class="ion-chevron-right"></i></li>

                        </ul>
                    </div>

                    <div id="banner_wave_1"></div>
                    <div id="banner_wave_2"></div>
                </div>

                <section id="section-1">
                    <div class="content">
                        <div v-for="(item,index) in ArticleList" 
                        class="article-container" 
                        :id="'article-'+item.id" 
                        :key="item.id" 
                        @click="navigativeTo(index)" 
                        :style="{flexDirection:index%2===0?'row':'row-reverse'}"
                        >
                            <div class="article-content">
                                <div class="article-title"><h2>{{item.title}}</h2></div>
                                <div class="srticle-text">
                                    <p>{{item.overview}}</p>
                                </div>
                            </div>
                            <div class="article-img">
                                <img :src="item.image" alt="Error" />
                            </div>
                        </div>
                    </div>
                    <div class="sidebar">
                        <div id="profile">
                            <div id="avatar">
                                <img src="./assets/images/img1.jpg" alt="Error" />
                                <p style="text-align: center;">Methionine</p>
                            </div>
                            <div id="data-bar">
                                <div id="article-count">
                                    <p>Article</p>
                                    <p>{{ArticleList.length}}</p>
                                </div>
                                <div id="tag-count">
                                    <p>Tag</p>
                                    <p></p>
                                </div>
                                <div id="category-count">
                                    <p>Category</p>
                                    <p></p>
                                </div>
                            </div>
                            <div id="followMe">

                            </div>
                        </div>
                        <div id="announcement">
                            <div class="announcement-title">
                                <h3>Announcement</h3>
                            </div>
                            <div class="announcement-content">
                                <p>This is my Blog</p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

        </div>

        <script src="./lib/vue.min.js"></script>
        <script src="./assets/js/index_vue.js"></script>
        <script src="./assets/js/index.js"></script>
        <script src="./assets/js/scroll.js"></script>
    </body>
</html>