<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Blog</title>
        <link rel="stylesheet" type="text/css" href="./assets/css/index.css">
        <link rel="shortcut icon" href="./img/favicon.png">
        <link rel="stylesheet" type="text/css" href="./assets/css/wave.css">
        <link rel="stylesheet" type="text/css" href="./assets/css/font.css">
        <link rel="stylesheet" type="text/css" media="screen" href="https://cdn.staticfile.org/ionicons/2.0.1/css/ionicons.min.css">
    </head>

    <body>
        <div class="container">
            <div class="scrollbar" id="bar">
            </div>
            <header class="safari">
                <div class="sa-background"></div>
                <div class="wrapper">
                    <ul class="navigation-list ul-reset">
                        <li class="navigation-item ib">
                            <a href="#" class="navigation-link">
                                <i class="ion-information-circled"></i>
                            </a>
                        </li>
                        <li class="navigation-item ib">
                            <a href="#" class="navigation-link">
                                <i class="ion-help-circled"></i>
                            </a>
                        </li>
                        <li class="navigation-item ib">
                            <a href="./Calculator/Variance-calculator.html" class="navigation-link" target="_blank">
                                <i class="ion-more"></i>
                            </a>
                        </li>
                        <li class="navigation-item ib">
                            <a href="./Basketball.html" class="navigation-link" target="_blank">
                                <i class="ion-cube"></i>
                            </a>
                        </li>
                        <li class="navigation-item ib">
                            <a href="#" class="navigation-link">
                                <i class="ion-ios-home"></i>
                            </a>
                        </li>
                    </ul>
                    </div>

            </header>

            <div class="main-container">
                <div id="header">
                    <div class="pic">
                        <img v-for="imageItem in imageList" :id="imageItem.id" class="topimg" :src="imageItem.src" :key="imageItem.id" alt="pic">
                    </div>
                    <div class="title">
                        <span class="logo2 no-select">Methionine</span>
                    </div>
                    <div class="print-animation-container no-select">
                        <div class="print-animation">
                            <span>Welcome to Methionine's Blog.</span>
                        </div>
                    </div>
                    <div class="top-items">
                        <ul>
                            <li id="img_back"><i class="ion-chevron-left"></i></li>
                            <li id="WeChat"><i class="ion-chatbubbles"></i></li>
                            <li id="Github">
                                <a href='https://github.com/L-Methionine' target="_blank">
                                    <i class="ion-social-github"></i>
                                </a>
                            </li>
                            <li id="e-Mail"><i class="ion-android-mail"></i></li>
                            <li id="img_forward"><i class="ion-chevron-right"></i></li>
                        </ul>
                    </div>

                    <div id="banner_wave_1"></div>
                    <div id="banner_wave_2"></div>
                </div>

                <section id="section-1">
                    <div class="content">
                        <div v-for="(item,index) in ArticleList" 
                        class="article-container" 
                        :id="'article-'+item.id" 
                        :key="item.id" 
                        @click="navigativeTo(index)" 
                        :style="{flexDirection:index%2===0?'row':'row-reverse'}"
                        >
                            <div class="article-content">
                                <div class="article-title"><h2>{{item.title}}</h2></div>
                                <div class="srticle-text">
                                    <p>{{item.overview}}</p>
                                </div>
                            </div>
                            <div class="article-img">
                                <img :src="item.image" alt="Error" />
                            </div>
                        </div>
                    </div>
                </section>
            </div>

        </div>

        <script src="./assets/js/vue.min.js"></script>
        <script src="./assets/js/index_vue.js"></script>
        <script src="./assets/js/index.js"></script>
        <script src="./assets/js/scroll.js"></script>
    </body>
</html>