* {
    padding: 0;
    margin: 0;
}

:root {
    --box-shandow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

body {
    font-family: "Source Code Pro";
}

p {
    line-height: 1.5em;
}

.no-select {
    user-select: none;
}

#header {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}


.navigation-bar {
    border-radius: 30px ;
    background-color: rgba(252, 248, 248, 0);
    padding-top: 5px;
    padding-right: 20px;
    position: fixed;
    top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    width: 85%;
    transition: ease 0.75s;
    height: 55px;
    z-index: 20;
    
}

.navigation-bar:hover {
    content: "";
    background-color: rgba(255, 255, 255, 0.85);

}

.pic {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
}

.topimg {
    position: relative;
    width: inherit;
    height: inherit;
    object-fit: cover;
    filter: brightness(80%);
    transition: 0.25s ease-in-out;
}

#img-0 {
    z-index: -1;
}

#img-1 {
    position: absolute;
    z-index: -2;
}

#img-2 {
    position: absolute;
    z-index: -3;
}

#img-3 {
    position: absolute;
    z-index: -4;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo2 {
    font-size: 80px;
    color: #fff;
    text-shadow: -1px 1px 10px #000;
    display: block;
    z-index: 8;
}

.navigation-item a {
    text-decoration: none;
    color: #f9b907;

}

.print-animation-container {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background: rgba(255, 255, 255, 0.918);
    border-radius: 20px;
    width: 600px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.print-animation {
    width: 29ch;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #000;
    animation: typing 3s steps(29),effect 1s step-end infinite
}
@keyframes typing {
    from { width: 0 }
}
@keyframes effect {
    50% { border-color: transparent }
}

.print-animation > span {
    color: #e9ae09;
}

/* 搜索框禁用
{
    .search {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-55%, -50%);
        border: none;
        height: 45px;
        width: 630px;
        justify-content: center;
        align-items: center;

    }

    .search > input {
        border: none;
        outline: none;
        font-size: 16px;
        width: 92%;
        border-radius: 15px 0 0 15px;
        height: 100%;
        line-height: 40px;
        font-family: "微软雅黑";
        position: relative;
        left: 8%;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.76);
        display: inline;
        
    }

    #btn-container {
        z-index: 9;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.815);
        border-radius: 0 50% 50% 0;
        width: 45px;
        left: 100%;
        height: inherit;
        align-content: center;
        justify-content: center;
        display: inline;
        cursor: pointer;
        transition: ease-in-out 0.2s;
    }

    #btn{
        width: 10px;
        height: 10px;
        border:4px solid #030303c0;
        border-radius:50%;
        margin: 4px;
        position:relative;
        left: 2px;
        top: 4px;
        display: inline-block;
        transition: ease-in-out 0.2s;

    }

    #btn:before{
        width:15px;
        height:5px;
        background:#030303c0;
        transform:rotate(45deg);
        -webkit-transform:rotate(45deg);
        content: "";
        position: absolute;
        left: 8px;
        top: 14px;
        border-radius: 2px;
        transition: ease-in-out 0.2s;
    }

    #btn-container:hover #btn{
        border-color: #fff;
    }
    #btn-container:hover #btn:before{
        background: #fff;
    }
    #btn-container:hover{
        background-color: #030303;
    }
}
*/

.wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    float: right;
    height: 100%;
} 

@media only screen and (max-width:1024px) {
    .wrapper {
        width: 90%;
    }
}                 

.ul-reset {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}

.ib {
    display: -moz-inline-stack;
    zoom: 1;
    display: inline;
    vertical-align: top;

}

.navigation-list {
    font-size: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row-reverse;
}
   
.navigation-item {
    font-size: 1.2rem;

}
   
.navigation-link {
    display: block;
    position: relative;
    padding: 5px 15px;
    text-decoration: none;
    color: #f9b907;
    -webkit-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
    height: 35px;
    font-weight: 600;
}
   
.navigation-link:before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    border-bottom: solid 5px;
}
   
.navigation-link:before {
    left: 0;
}

.navigation-link:before {
    -webkit-transition: width .2s ease-in-out;
    transition: width .2s ease-in-out;
}

.navigation-link:hover {
    color: #009688;
}
   
.navigation-link:hover:before {
    width: 100%;
}

/*
li.navigation-item:nth-child(1) i:after {
    content: "关于";
    font-style: normal;
    font-weight: 600;
    margin: 0 5px;
}

li.navigation-item:nth-child(2) i:after {
    content: "帮助";
    font-style: normal;
    font-weight: 600;
    margin: 0 5px;
}

li.navigation-item:nth-child(3) i:after {
    content: "更多";
    font-style: normal;
    font-weight: 600;
    margin: 0 5px;
}

li.navigation-item:nth-child(4) i:after {
    content: "应用";
    font-style: normal;
    font-weight: 600;
    margin: 0 5px;
}

li.navigation-item:nth-child(5) i:after {
    content: "首页";
    font-style: normal;
    font-weight: 600;
    margin: 0 5px;
}
*/

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #f9b907;
}

.scrollbar {
    overflow-y: hidden;
    position: fixed;
    top: 0;
    height: 3px;
    background: #f9b907;
    z-index: 999;
}

.top-items {
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-items ul {
    list-style: none;
    display: flex;
}

.top-items ul li {
    background: rgb(255, 255, 255);
    border-radius: 50%;
    border: 2px solid #fff;
    width: 38px;
    height: 38px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.top-items ul li i {
    display: block;
    color: #f9b907;
    text-decoration: none;
    font-size: 20px;
    padding: 3px;
}

#CloudMusic svg{
    position: relative;
    width: 65%;
    height: 65%;
    fill: #f9b907;
}

#CloudMusic a {
    display: flex;
    justify-content: center;
}

#CloudMusic svg:hover {
    fill: #fff;
}

#img_back i:before {
    font-weight: 1000;
}

#img_forward i:before {
    font-weight: 1000;
}

.top-items ul li:hover {
    background: #f9b907;
    border-color: #f9b907;
}

.top-items ul li:hover i {
    color: #fff;
}

#section-1 {
    display: flex;
    justify-content: center;
    padding: 60px 30px;
}

.content {
    width: 60%;
    position: relative;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-container {
    position: relative;
    background: #fff;
    box-shadow: var(--box-shandow);
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 20px;
    height: 250px;
    width: 80%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    transition: .25s ease-in-out;
}

.article-container:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);

}

.article-content {
    position: relative;
    display: inline-block;
    width: 50%;

}

.article-title {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.article-img {
    position: relative;
    display: flex;
    height: 85%;
    overflow: hidden;
    justify-content: center;
    align-self: center;
    width: 40%;
    
}

.article-img > img {
    height: 100%;
    width: auto;
}

.sidebar {
    position: relative;
    width: 20%;
}

#profile {
    position: relative;
    box-shadow: var(--box-shandow);
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#avatar {
    position: relative;
    margin: 15px;
}

#avatar > img {
    position: relative;
    display: block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 10px;
    object-fit: cover;
}

#data-bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 10px 0;
}

#data-bar > * {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#followMe {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 25px;
    background-color: rgb(89, 151, 250);
    box-shadow: var(--box-shandow);
    cursor: pointer;
}

#announcement {
    position: relative;
    box-shadow: var(--box-shandow);
    border-radius: 15px;
    padding: 20px;
}

#announcement > * {
    padding: 5px;
}